header.main-head(style="background-image: url(assets/img/header_bg.jpg)")
	.top-line
		.container
			.row
				.col-md-3.col-sm-6.col-xs-3
					a.logo(href="/")
						img(src="assets/img/logo.svg", alt="Armata Financial Group")
						
				.col-lg-2.col-md-9.col-sm-6.col-xs-9.col-lg-push-7
				
					.phone-wrap
				
						.phone +3(095)00-99-56
					
						a.toggle-mnu.hidden-lg(href="#") 
							span
						
				.col-lg-7.col-md-12.col-lg-pull-2
					.main-mnu
						ul
							li.active
								a(href="#") Главная
							li
								a(href="#") О компании
							li
								a(href="#") Оценка
							li
								a(href="#") Сделки M&amp;A
							li
								a(href="#") Бухгалтерские услуги
							li
								a(href="#") Контакты
								
				
								
				
	