section.homesect.section_1
	.container
		.row
			.section-head.col-md-10.col-md-offset-1
				h2 Независимая оценка имущества
				p #[strong Определение рыночной стоимости] любого актива, или #[a(href="") оценка] - это первый этап всех рыночных отношений.Оценка заключается в объективном анализе объекта с целью предания ему стоимостных характеристик,выраженных в едином денежном  эквиваленте.
				
	
	
	.section-content
		.container
			.row 
				.col-sm-4.info-item-wrap
					.info-item 
						h4
							a(href="#") Оценка ценных бумаг 
						p Определение рыночной стоимости ценных бумаг и документов
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Оценка бизнеса и предприятий
						p Профессиональная оценка бизнес-активов предприятия
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Оценка недвижимости
						p Профессиональная оценка жилого и нежилого имущества
				
				.col-sm-8.info-item-wrap
					.info-item
						h4
							a(href="#") Оценка машин и оборудования
						p Профессиональная оценка машин и оборудования для бизнеса
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Оценка инвестиционных проектов
						p Независимая оценка бизнес проектов любого направления
				
		.s1-bottom-triangle
			img.triangle-logo(src="assets/img/logo_triangle.svg", alt="Armaya Financial Group")
			img.scales.hidden-xs(src="assets/img/icons/section_1/scales.svg", alt="Scales")
			
	.s1-bottom 
		.container
			.row
				.col-sm-4.info-item-wrap
					.info-item 
						h4
							a(href="#") Оценка нематериальных активов 
						p Определение стоимости нематериальных активов различных видов
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Оценка себестоимости продукции
						p Определение себестоимости продукции производства
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Бизнес-планирование и оценка
						p Разработка бизнес-плана и оценка его эффективности
			
		
	.section-bottom
		a(href="").buttons Заказать оценку
		
		