section.homesect.s_dark.section_3
	.container
		.row
			.section-head.col-md-10.col-md-offset-1
				h2 Бухгалтерские услуги
				p #[strong Определение рыночной стоимости] любого актива, или #[a(href="") оценка] - это первый этап всех рыночных отношений.Оценка заключается в объективном анализе объекта с целью предания ему стоимостных характеристик,выраженных в едином денежном  эквиваленте.
				
	
	
	.section-content
		.container
			.row 
				.col-sm-4.info-item-wrap
					.info-item 
						h4
							a(href="#") Документальное оформление
						p Документальное оформление всех хозяйственных операций предприятия
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Обработка данных
						p Обработка, систематизация и введение данных в бухгалтерскую программу
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Расчеты 
						p Расчет заработной платы и налогов
				
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Формирование отчетности 
						p Формирование финансового результата предприятия
				.col-sm-4.s3-img-wrapper
					.s3-img-wrap.img-wrap
						img(src="assets/img/icons/section_3/folder.png", alt="Folder")
					
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Налоговая отчетность
						p Оформление и подача бухгалтерской и налоговой отчетности в соответствующие
						
				.col-sm-4.info-item-wrap
					.info-item 
						h4
							a(href="#") Консультирование организаций
						p Консультирование по вопроса оптимизации финансовой функции и бухгалтерскому учету
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Помощь в подборе персонала
						p Помощь в подборе персонала в отдел бухгалтерского и налогового учета
				.col-sm-4.info-item-wrap
					.info-item
						h4
							a(href="#") Восстановление бухгалтерского учета
						p Восстановление функционирования предприятия и бухгалтерского учета
			
		
	.section-bottom
		a(href="").buttons Заказать оценку
		