section.homesect.s_gray.section_7
	.container
		.row
			.section-head.col-md-10.col-md-offset-1
				h2 ОТЗЫВЫ КЛИЕНТОВ
				p Послушайте, что о нас говорят благодарные клиенты:
				
	.section-pb
		.slider
			.slide
				.container
					.row
						.col-md-10.col.md.offset-1
							.img-wrap
								img(src="assets/img/team/1.jpg", alt="Review")
							h3 Михаил Алексеевич Потапов
							.slide-descr ООО "Роскомнадзор"
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.
				
			.slide
				.container
					.row
						.col-md-10.col.md.offset-1
							.img-wrap
								img(src="assets/img/team/2.jpg", alt="Review")
							h3 Михаил Алексеевич Потапов
							.slide-descr ООО "Роскомнадзор"
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.
				
			.slide
				.container
					.row
						.col-md-10.col.md.offset-1
							.img-wrap
								img(src="assets/img/team/3.jpg", alt="Review")
							h3 Михаил Алексеевич Потапов
							.slide-descr ООО "Роскомнадзор"
							p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил живет.
				