section.homesect.s_dark.section_5
	.container
		.row
			.section-head.col-md-10.col-md-offset-1
				h2 КАК МЫ РАБОТАЕМ 
				
	.triangles-container
		.container
			.row
				.tc-item
					.tc-content 
						img(src="assets/img/icons/section_5/1.svg", alt="")
						#[span 1.] Вы оставляете заявку
						
					svg#tc-svg0(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.01178 129', height='129', width='291.01178', version='1.1')
						path#path4138(d='M 3.4644996,126.28999 3.1137219,4.0613763 l 240.7182181,0 43.11847,58.7692707 -43.28202,63.461773 z', style='fill:#f39f18;fill-opacity:0;stroke:#f39f18;stroke-opacity:0;stroke-width:5px')
				.tc-item
					.tc-content
						img(src="assets/img/icons/section_5/2.svg", alt="")
						#[span 2.] Подписываем договор
					svg#tc-svg1(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.01178 129', height='129', width='291.01178', version='1.1')
						path#path4138-3(d='M 3.3821314,126.02828 46.475601,62.999427 3.0313514,3.799673 l 240.7182186,0 43.11847,58.769271 -43.28202,63.461766 z', style='fill:#f39f18;fill-opacity:0;stroke:#f39f18;stroke-opacity:0;stroke-width:5px')
				.tc-item
					.tc-content
						img(src="assets/img/icons/section_5/3.svg", alt="")
						#[span 3.] Мы проводим оценку
					svg#tc-svg2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.01178 129', height='129', width='291.01178', version='1.1')
						path#path4138-3(d='M 3.3821314,126.02828 46.475601,62.999427 3.0313514,3.799673 l 240.7182186,0 43.11847,58.769271 -43.28202,63.461766 z', style='fill:#f39f18;fill-opacity:0;stroke:#f39f18;stroke-opacity:0;stroke-width:5px')
				.tc-item
					.tc-content
						img(src="assets/img/icons/section_5/4.svg", alt="")
						#[span 4.] Вы получаете отчет
					svg#tc-svg3(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.01178 129', height='129', width='291.01178', version='1.1')
						path#path4138-3(d='M 3.3821314,126.02828 46.475601,62.999427 3.0313514,3.799673 l 240.7182186,0 43.11847,58.769271 -43.28202,63.461766 z', style=style='fill:#f39f18;fill-opacity:0;stroke:#f39f18;stroke-opacity:0;stroke-width:5px')
				
	.section-bottom
		a(href="#callback").buttons Оставить заявку