section.homesect.section_2
	.container
		.row
			.section-head.col-md-10.col-md-offset-1
				h2 Сделки M&amp;A
				p #[strong Сделки cлияния и поглощения]– это процессы укрупнения бизнеса и капитала. Популярность сделки слияния и поглощения приобрели в конце 80-х годов и сейчас они являются одним из основных движущих факторов развития бизнеса на макро и микроуровне. Эффективность сделок слияния и поглощения огромна и не вызывает сомнений.
				h3 НАШИ УСЛУГИ ПО #[a(href="#") СОПРОВОЖДЕНИЮ СДЕЛОК M&A]
				
	.s-wrap
		.s2-items
			.container
				.s2-items-container
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap
								img(src="assets/img/icons/section_2/1.svg", alt="Alt")
							span.s2-item-text Разработка новой структуры управления бизнесом
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap
								img(src="assets/img/icons/section_2/2.svg", alt="Alt")
							span.s2-item-text Консультации по предпродажной подготовке бизнеса
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap
								img(src="assets/img/icons/section_2/3.svg", alt="Alt")
							span.s2-item-text Анализ стоимости бизнеса и активов
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap
								img(src="assets/img/icons/section_2/4.svg", alt="Alt")
							span.s2-item-text Консультации с покупателями и сопровождение
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap
								img(src="assets/img/icons/section_2/5.svg", alt="Alt")
							span.s2-item-text Юридический аудит приобретаемого актива
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap.s2-item-wrap
								img(src="assets/img/icons/section_2/6.svg", alt="Alt")
							span.s2-item-text Разработка оптимальной схемы приобретения актива
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap.s2-item-wrap
								img(src="assets/img/icons/section_2/7.svg", alt="Alt")
							span.s2-item-text Организация финансирования сделки
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap.s2-item-wrap
								img(src="assets/img/icons/section_2/8.svg", alt="Alt")
							span.s2-item-text Подготовка и сопровождение документации
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap.s2-item-wrap
								img(src="assets/img/icons/section_2/9.svg", alt="Alt")
							span.s2-item-text Получение разрешений в государственных органах
					.s2-item-wrap
						a.s2_item(href="#")
							span.img-wrap.s2-item-wrap
								img(src="assets/img/icons/section_2/10.svg", alt="Alt")
							span.s2-item-text Интеграция нового актива в схему управления холдингом


	.section-bottom
		a(href="#callback").buttons Заказать сопровождение
		
	
		