section.homesect.section_6
	.container
		.row
			.section-head.col-md-10.col-md-offset-1
				h2 С КЕМ МОЖНО СВЯЗАТЬСЯ ЧЕРЕЗ САЙТ
				p Свяжитесь с одним из сотрудников и получите консультацию по работе с нашей компанией
	.section-pb
		.container
			.row
				.teams
					.team.team-off 
						.card-icon.img-wrap
							img(src="assets/img/team/1.jpg", alt="Team")
						h4 Евгений Александрович
						
						p  Директор компании
						
						span.team-phone +7 929 568 98 98

					.team.team-off 
						.card-icon.img-wrap
							img(src="assets/img/team/2.jpg", alt="Sales")
						h4 Виталий Дое
						
						p Менеджер продаж
						
						span.team-phone +7 929 568 98 98
					.team.team-off
						.card-icon.img-wrap
							img(src="assets/img/team/3.jpg", alt="Sales")
						h4 Екатерина
						
						p Старший менеджер
						
						span.team-phone +7 929 568 98 98
				
	