.main-head
	position: relative
	min-height: 620px
	background-size: cover
	background-position: center
	padding-bottom: 120px
	&::before
		@extend .before
		background-color: #394b5f
		opacity: .85

	h1
		text-transform: none
		line-height: em(18px)

.top-line
	min-height: 160px
	background-image: url(../img/top_gradient.png)
	padding-top: 45px
	background-repeat: repeat-x

.logo
	opacity: .95
	img
		width: 100px

.main-mnu
	font-size:em(14px)
	
	li
		line-height: 48px
		padding: 0 10px
		&.active
			a
				color: $main-color
				text-decoration: underline
		a:hover
			color: $main-color
			text-decoration: underline


	ul
		@extend .ulmnu
	
	a
		text-decoration: none
		color: #fff

.phone
	opacity: 0.9
	color: #fff
	font-family: "RobotoBold", $helvetica
	font-size: em(20px)
	line-height: 48px
	text-align: right
	white-spase: nowrap

.toggle-mnu
	display: block
	float: right
	position: absolute
	right: 0
	top: 0
	//width: 48px
	//height: 48px
	text-align: center
	line-height: 48px

.phone-wrap
	position: relative


.toggle-mnu 
	display: block
	width: 28px
	height: 28px
	margin: 22px auto 0


.toggle-mnu span:after,
.toggle-mnu span:before 
	content: ""
	position: absolute
	left: 0
	top: -9px

.toggle-mnu span:after
	top: 9px

.toggle-mnu span 
	position: relative
	display: block


.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before 
	width: 100%
	height: 2px
	background-color: #fff
	transition: all 0.3s
	backface-visibility: hidden
	border-radius: 2px


/* on activation */
.toggle-mnu.on span 
	background-color: transparent

.toggle-mnu.on span:before 
	transform: rotate(45deg) translate(5px, 5px)

.toggle-mnu.on span:after 
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-mnu.on + #menu 
	opacity: 1
	visibility: visible

.header-wrap
	margin-top: 40px
	


	h1
		margin-top: 120px
		color: #fff
		border-bottom: 5px solid $main-color	
		display: inline-block
		padding-bottom: 10px

	ul
		@extend .ulmnu
		margin-top: 10px
		li
			display: block
			font-family: "RailwaySemiBlock", $helvetica
			font-size: 18px
			padding-bottom: 12px
			position: relative
			padding-left: 16px
			&::before
				content: ''
				display: block
				width: 6px
				height: 11px
				+triangle(12px, $main-color, right)
				position: absolute
				top: 9px
				left: 0
		
			a
				color: #fff	
				text-decoration: none
				&:hover
					text-decoration: underline
	
.header-left
	margin-bottom: 50px

.arrow-bottom
	display: inline-block
	width: 40px
	height: 40px
	background-image: url(../img/arrow_down.png)
	position: relative
	z-index: 2
	cursor: pointer
	top: 50px
	transition: all 0.25 ease
	opacity: .7
	
	&:hover
		opacity: 1

			
		

		

		
			
		